:root{
    --size-back-ground: 150px;
    line-height: 1.5;
    
}

.like{
    position: absolute;
    border: 1px solid rgb(87, 86, 86);
    border-radius: 50%;
    padding: 8px;
    color: rgb(87, 86, 86);
    right: 20px;
    top: 20px;
}

.trash{
    position: absolute;
    color: rgb(87, 86, 86);
    left: 20px;
    bottom: 20px;
}

.titleText{
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

.backgroundHeader {
    display: flex;
    position: relative;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    background-size:cover;
    height: 150px;
    background-position: center;
}

.mainBody{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
    min-height: 300px;
    padding: 10px;
}

.newLi{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.date{
    margin-left: auto;
    color: grey;
}

.category{
    color: grey;
}

.allNews{
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 15px;
}

